*.o
*.d
*.opensdf
*.suo
*.sdf
*.pdb
*.lnk
*.sdf
*.log
*.pyc
*.iml

.classpath
.project
.DS_Store
.vscode
.settings
.gradle
.idea
.svn
.externalNativeBuild
**Debug.win32
**.vs

assets/
project.xcworkspace/
xcuserdata/
runtime/
Pods/

**/bin
**/gen
**/obj
**/Debug
**/Release
**/build
**/tools/ygt

hookheroes/tools/tolua/userconf.ini

**/hookheroes/publish_linux
**/hookheroes/tools_linux

# 忽略Android本地配置文件
**/local.properties

simulator
/frameworks/cocos2d-x/cocos/2d/Debug.win32
/frameworks/cocos2d-x/cocos/editor-support/spine/proj.win32/Debug.win32
/frameworks/cocos2d-x/cocos/scripting/lua-bindings/proj.win32/Debug.win32
