*.o
*.d
*.opensdf
*.suo
*.sdf
*.pdb
*.lnk
*.sdf
*.log
*.pyc
*.iml

.classpath
.project
.DS_Store
.vscode
.settings
.gradle
.idea
.svn
.externalNativeBuild

assets/
project.xcworkspace/
xcuserdata/
runtime/
Pods/

**/bin
**/gen
**/obj
**/Debug
**/Release
**/build
**/tools/ygt

hookheroes/tools/tolua/userconf.ini

**/hookheroes/publish_linux
**/hookheroes/tools_linux

# 忽略Android本地配置文件
**/local.properties

