<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colorring/color_ring_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{435,1},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{356,652},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{218,1},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{435,139},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{356,704},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{1,218},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{435,277},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{356,756},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{218,218},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{435,415},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{546,691},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{1,435},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{435,553},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{546,743},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{218,435},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{218,652},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{546,795},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{1,652},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{408,691},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colorring/color_ring_7_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{218,790},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>colorring.png</string>
            <key>size</key>
            <string>{597,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2748522395b51d9bd29397f816d4ed3:de56807c6443e1753369cf792bffa87b:142469381ca132b26a8968214467ab5c$</string>
            <key>textureFileName</key>
            <string>colorring.png</string>
        </dict>
    </dict>
</plist>
