<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colormain/best.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,33}</string>
                <key>spriteSourceSize</key>
                <string>{74,35}</string>
                <key>textureRect</key>
                <string>{{1286,1148},{72,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1440}</string>
                <key>spriteSourceSize</key>
                <string>{720,1440}</string>
                <key>textureRect</key>
                <string>{{1,1},{720,1440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>colormain/bottom_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,415}</string>
                <key>spriteSourceSize</key>
                <string>{720,415}</string>
                <key>textureRect</key>
                <string>{{1,723},{720,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/bottom_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,127}</string>
                <key>spriteSourceSize</key>
                <string>{333,129}</string>
                <key>textureRect</key>
                <string>{{1445,1009},{331,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/bottom_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,194}</string>
                <key>spriteSourceSize</key>
                <string>{520,196}</string>
                <key>textureRect</key>
                <string>{{1445,723},{518,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/font_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,72}</string>
                <key>spriteSourceSize</key>
                <string>{226,74}</string>
                <key>textureRect</key>
                <string>{{1060,1148},{224,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/font_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,72}</string>
                <key>spriteSourceSize</key>
                <string>{230,74}</string>
                <key>textureRect</key>
                <string>{{481,1140},{228,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/font_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,71}</string>
                <key>spriteSourceSize</key>
                <string>{349,73}</string>
                <key>textureRect</key>
                <string>{{711,1148},{347,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/font_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,88}</string>
                <key>spriteSourceSize</key>
                <string>{348,90}</string>
                <key>textureRect</key>
                <string>{{1445,1138},{346,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/font_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,72}</string>
                <key>spriteSourceSize</key>
                <string>{480,74}</string>
                <key>textureRect</key>
                <string>{{1,1140},{478,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/font_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,88}</string>
                <key>spriteSourceSize</key>
                <string>{470,90}</string>
                <key>textureRect</key>
                <string>{{1445,919},{468,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/score.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,33}</string>
                <key>spriteSourceSize</key>
                <string>{90,35}</string>
                <key>textureRect</key>
                <string>{{1915,919},{88,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>colormain/shang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,190}</string>
                <key>spriteSourceSize</key>
                <string>{720,190}</string>
                <key>textureRect</key>
                <string>{{723,956},{720,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/top_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,121}</string>
                <key>spriteSourceSize</key>
                <string>{120,121}</string>
                <key>textureRect</key>
                <string>{{1778,1009},{120,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/zhongjiandi-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,231}</string>
                <key>spriteSourceSize</key>
                <string>{720,231}</string>
                <key>textureRect</key>
                <string>{{723,723},{720,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>colormain/zhongjiandi-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,282}</string>
                <key>spriteSourceSize</key>
                <string>{720,282}</string>
                <key>textureRect</key>
                <string>{{1443,1},{720,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>colormain/zhongjiandi-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,254}</string>
                <key>spriteSourceSize</key>
                <string>{720,254}</string>
                <key>textureRect</key>
                <string>{{1727,1},{720,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>colormain.png</string>
            <key>size</key>
            <string>{1982,1227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb1577ba940e74a2608e8e6871cbecae:7a4deffca7afc45955950638792c8411:3ad764ba535878c75f185f18e674fb69$</string>
            <key>textureFileName</key>
            <string>colormain.png</string>
        </dict>
    </dict>
</plist>
