<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common/color_10_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{599,1197},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{899,1},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_10_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{1,1027},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_11_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{675,1197},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{899,119},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{579,1},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_12_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{717,961},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{899,237},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_12_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{161,1027},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_13_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{717,1037},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_13_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{899,355},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_13_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{579,161},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{717,1113},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{899,473},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{739,1},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{793,959},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{899,591},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{321,1027},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{793,1035},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{481,1027},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{579,321},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{793,1111},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{739,841},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{739,161},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{869,945},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{835,709},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{739,321},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_6_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{869,1021},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{857,827},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{579,481},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_7_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{869,1097},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{599,961},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{579,641},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_8_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{751,1189},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{599,1079},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{739,481},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_9_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{827,1187},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{481,1145},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/color_9_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,158}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{579,801},{158,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/common_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{953,709},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/common_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,1024}</string>
                <key>spriteSourceSize</key>
                <string>{576,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{576,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/common_btn_b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{134,72}</string>
                <key>spriteSourceSize</key>
                <string>{134,74}</string>
                <key>textureRect</key>
                <string>{{91,1187},{134,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/common_btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,81}</string>
                <key>spriteSourceSize</key>
                <string>{96,81}</string>
                <key>textureRect</key>
                <string>{{363,1187},{96,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/common_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{945,945},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/common_btn_y1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{134,72}</string>
                <key>spriteSourceSize</key>
                <string>{134,74}</string>
                <key>textureRect</key>
                <string>{{227,1187},{134,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/public_btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{835,641},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common/public_item_box_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1,1187},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common/public_tips_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,94}</string>
                <key>spriteSourceSize</key>
                <string>{198,94}</string>
                <key>textureRect</key>
                <string>{{739,641},{198,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1016,1276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:582d5a3097af58c7728ccbd29790b042:736c9c996d98f71fbac03f63fc65e97f:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
